.jumbotron {
  background-image: url(/images/halo-wallpaper.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  max-height: 1350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jumbotron h1, .jumbotron h2 {
  text-shadow: 3px 3px 3px black;
}